*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    padding: 20px;
}

input{
color: grey;
font-size: 1.2rem;
width: 100%;
}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
margin-bottom: 5px;
margin-right: 5px;
margin-inline: 10px;
border-radius: 10px;
border: 2px solid blue;
overflow: hidden;
padding: auto;
width: auto;
height: auto;



    /* align-content: center;
    border: 2px solid blue;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
    overflow: hidden;
   padding: 50px;
   height: 170px;
    */
    




   
}

.card p{
    padding: 5px;
    text-align: center;
}

.car img{
    max-height: 170px;

}